body {
	text-align: left;
}

.card {
	border-radius: 10px;
	border: 3px solid black;
	width: 595px;
	margin: 100px auto;
	padding: 20px 30px 30px 30px;
}

.flipbutton {
	float: right;
	box-shadow: none;
	border-radius: 7px;
	background: #fff;
	color: #000;
	border: 2px solid;
	transition: .2s all;
}

#front .flipbutton {
	margin: -19px auto;
}

.flipbutton:hover {
	background: #555;
	color: #fff;
	border: 2px solid #555;
}

.flipbutton:active {
	background: #000;
	color: #fff;
	border: 2px solid #000;
}

a {
	color: #0074D9;
}

#back {
	overflow: hidden;
	transition: .2s all;
}

#front {
	overflow: hidden;
}

.disappear {
	height: 0;
	padding: 0;
	border: 0;
	margin: 0;
}

.tools a {
	border: 1px solid black;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: black;
	font-weight: bold;
}
