body {
	text-align: left;
}

.card {
	border-radius: 10px;
	border: 3px solid black;
	width: 595px;
	margin: 100px auto;
	padding: 20px 30px 30px 30px;
}

.flipbutton {
	float: right;
	margin: -19px auto;
	box-shadow: none;
	border-radius: 7px;
	background: #fff;
	color: #000;
	border: 2px solid;
	transition: .2s all;
}

.flipbutton:hover {
	background: #555;
	color: #fff;
	border: 2px solid #555;
}

.flipbutton:active {
	background: #000;
	color: #fff;
	border: 2px solid #000;
}

a {
	color: #0074D9;
}

#back {
	overflow: hidden;
	transition: .2s all;
}

#front {
	overflow: hidden;
}

.disappear {
	height: 0;
	padding: 0;
	border: 0;
	margin: 0;
}
